@charset "utf-8";

* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;
display: block;
color: #333;}

.fas span {
    position: absolute;
    left: -99999px;
}

/* header */
header {
    height: 80px;
    line-height: 80px;
    background-color: salmon;
}
header::after {
    content: '';
    display: block;
    clear: both;
}
header div {
    max-width: 1280px;
    width: calc(100%-40px);/*  width: 100%; 유동적 변화를 주냐 calc(100%-40px); 좌우 20px 마진을 주냐 선택적 문제*/
    margin: 0 auto;
}
header h1 {
    float: left;
}
header nav {
    float: right;
}
header nav ul li { 
    width: 120px;/*calc(100% / 7); 아이콘이 7개라면 */
    display: inline-block;/* float: right */
}

@media screen and (max-width: 1280px) {
    header div {width:100%}
}

/* .main_visual */
.main_visual {
    height: 800px;
    background: url('../img/flower.jpg') center center / cover no-repeat;
    position: relative;
}
.main_visual div {
    max-width: 1280px;
    width: 100%; /* 자동 줄바꿈 풀기 */
    /* 위 두 목록 한 세트로 가로 스크롤 생기지 않게 해줌 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

/* .cont01 */
.cont01 {
    max-width: 1280px;
    width: 100%;
    margin: 100px auto;
    text-align: center;
}
.cont01::after {
    content: '';
    display: block;
    clear: both;
}
.cont01 h3 {
    font-size: 35px;
    margin-bottom: 40px;
}
.cont01 div {
    float: left;
    width: 24%;
    margin-right: 1.3%;
}
.cont01 div:last-child {
    margin-right: 0;
}
.cont01 div img {
    width: 100%; /* 부모의 영역안에 딱 맞도록 */
}
/* 중심축 1280px 
    자식한테는 부모가 가진값이 100%
    100%안에 div가 4개가 들어갈 경우
    여백없이 들어가게 된다면
    = 각 25% * 4 = 100%
    3개 - 33.3% / 2개 - 50%
    */
/* 1개 값이 24% X 4 = 96%
    4 / 3 = 1.3%
    가로값 : 24% 마진값 : 1.3%
 */

/* 뷰포트 1024px 이하 */
@media screen and (max-width: 1024px) {
    header div {position: relative;}
    header nav {display: none;}
    .fas {
        display: block;
        /* float: right;
        line-height: 80px; or */
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .main_visual {height: 500px;}
}

/* 뷰포트 767px 이하 */
@media screen and (max-width: 767px) {
    .cont01 div {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 40px;
    }
    .cont01 div:nth-of-type(2) {
        margin-right: 0;
    }
}

/* 백그라운드 이미지는 height 꼭 필요*/

@media screen and (){
    
}